body{
	margin: 0px;
}
#div1{
	width: 100%; 
	height: 50px; 
	background-color: #222; 
	top: 0; 
	position: fixed;
	z-index: 10;
}

#header{
	text-align: center;
	
}

#headerinfo{
	list-style-type: none; 
	display: inline-block;
	margin-left: 0px;
	color: white;
}

#H1color{
	color: #fff;
 background-color: #222;
 padding: 10px;
 margin: 0px
}

a{
	text-decoration: none; 
	padding: 40px; 
	font-family: sans-serif;
	color:white;

}

li{
	margin-left: 30px;
	font-family: optima;
}

h1{
	margin: 5px;
}

#div4{
	width: 100%; 
	height: 200px; 
	background-color: #222; 
	bottom: 0; 
	margin: 0px;
	text-align: center;
}

img:hover{
	height:100%;
	width:100%;
}
